<footer class="bg-gray-800 text-white py-1 fixed inset-x-0 bottom-0 ">
    <div class="container mx-auto text-center">
      <p>Connect with me:</p>
      <ul class="flex justify-center gap-5 space-x-4 my-2">
        <li><a href="https://www.instagram.com/sachin_fitness.72/" target="_blank" class="hover:underline"><image src="/instagram.png" height="30px" width="30px"/></a></li>
        <li><a href="https://github.com/Sachin-kumar-jha" target="_blank" class="hover:underline"><image src="/github.png" height="30px" width="30px"/></a></li>
        <li><a href="https://www.linkedin.com/in/sachin-kumar-jha-843885270" target="_blank" class="hover:underline"><image src="/linkedin.png" height="30px" width="30px"/></a></li>
        <!-- Add more social links as needed -->
      </ul>
      <p>&copy; 2024 Created by Sachin Kumar Jha</p>
    </div>
  </footer>