<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-white text-xl">
        <a href="/">
          <image src="/chat.png" class="rounded-full h-10 w-10 cursor-pointer"></image>
        </a>
    
    </div>
    <!-- Hamburger icon for mobile -->
    <div class="block lg:hidden">
      <button id="hamburger" class="text-white focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
    <!-- Links section -->
    <div id="menu" class="hidden lg:flex space-x-4">
      <a href="/signin" class="text-white">Sign In</a>
      <a href="/signout" class="text-white">Logout</a>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div id="mobile-menu" class="hidden lg:hidden bg-gray-800 p-4">
    <a href="/signin" class="block text-white py-2">Sign In</a>
    <a href="/signout" class="block text-white py-2">Logout</a>
  </div>
</nav>
<script src="/js/script.js"></script>


  