<%layout("/Layouts/boilerplate") %>
<form action="/message" method="POST" class="max-w-lg mx-auto p-6 bg-white rounded shadow-md mt-10">
    <h2 class="text-2xl font-bold mb-4">Send a Message</h2>
    
    <!-- Message Input -->
    <div class="mb-4">
      <label for="message" class="block text-sm font-medium text-gray-700">Your Message</label>
      <textarea id="message" name="message" rows="4" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
    </div>
    
    <!-- Twilio Notification -->
    <div class="mb-4 text-black-600">
      <p class="text-sm">Please send your first message to the Twilio number <a class="underline text-blue-600" href="https://wa.me/14155238886/?text=join%20join present-movement">send</a> before sending it to another user.</p>
    </div>
  
    <!-- Submit Button -->
    <div class="flex flex-row gap-4 justify-evenly">
      <div class="btn"><button type="submit" name="action" value="user" class="px-2 py-2 bg-green-600 text-white rounded-md hover:bg-green-700 focus:outline-none">Send to All Registered  User</button></div>
      <div class="btn"><button class="px-2 py-2 bg-blue-600 text-white rounded-md hover:bg-green-700 focus:outline-none"><a href="/message/schedule" class="focus:outline-none">For schedule click Me!</a></button></div>
      
    </div>
  </form>
  